{% set zabbix_pg = (ocp_zabbix_use_postgres | default(true) | bool) %}
{% set zabbix_pg_secret = zabbix_postgres_name | default('zabbix-postgres') %}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: zabbix-web
  namespace: {{ name_space }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: zabbix-web
  template:
    metadata:
      labels:
        app: zabbix-web
    spec:
      containers:
        - name: zabbix-web
          image: {{ ocp_zabbix_web_image | default(zabbix_web_image) }}
          ports:
            - containerPort: 8080
          env:
            - name: ZBX_SERVER_HOST
              value: zabbix-server.{{ name_space }}.svc.cluster.local
            - name: DB_SERVER_HOST
              value: {{ ocp_zabbix_db_host }}
{% if zabbix_pg %}
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: {{ zabbix_pg_secret }}
                  key: POSTGRESQL_DATABASE
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: {{ zabbix_pg_secret }}
                  key: POSTGRESQL_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ zabbix_pg_secret }}
                  key: POSTGRESQL_PASSWORD
{% else %}
            - name: MYSQL_DATABASE
              valueFrom:
                secretKeyRef:
                  name: zabbix-mariadb-secret
                  key: mariadb-database
            - name: MYSQL_USER
              valueFrom:
                secretKeyRef:
                  name: zabbix-mariadb-secret
                  key: mariadb-user
            - name: MYSQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: zabbix-mariadb-secret
                  key: mariadb-password
{% endif %}
            - name: PHP_TZ
              value: UTC
            - name: ZBX_SERVER_NAME
              value: OpenShift Zabbix
---
apiVersion: v1
kind: Service
metadata:
  name: zabbix-web
  namespace: {{ name_space }}
spec:
  selector:
    app: zabbix-web
  ports:
    - name: http
      port: 8080
      targetPort: 8080
